{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container" style="max-width: 860px; margin: 0 auto; padding: 20px; display: flex; justify-content: center; align-items: center;">
        {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row mb-3">
            <div class="col-md-12">
                <h1 class="title">Create an account</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3" style="padding-right: 15px; padding-left: 15px;">
                <div class="form-group" style="width: 100%; height: 40px; padding: 5px 10px; font-size: 16px;">
                    {{ form_label(registrationForm.fname, "First Name :", {'label_attr': {'class': 'form-element'}}) }}
                    {{ form_widget(registrationForm.fname, {'attr': {'class': 'form-control', 'placeholder': 'Enter your first name'}}) }}
                    <div class="alert alert-danger">
                        {{ form_errors(registrationForm.fname) }}
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-3" style="padding-right: 15px; padding-left: 15px;">
                <div class="form-group">
                    {{ form_label(registrationForm.lname, "Last Name :", {'label_attr': {'class': 'form-element'}}) }}
                    {{ form_widget(registrationForm.lname, {'attr': {'class': 'form-control', 'placeholder': 'Enter your last name'}}) }}
                    <div class="alert alert-danger">
                        {{ form_errors(registrationForm.lname) }}
                    </div>
                </div>
            </div>

        </div class="row">

        <div class="row">
            <div class="col-md-12 mb-3" style="padding-right: 20px; padding-left: 40px;">
                <div class="form-group">
                    {{ form_label(registrationForm.birthDate, "Date of Birth", {'label_attr': {'class': 'form-element'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3" style="padding-right: 20px; padding-left: 40px;">
                <div class="form-group">
                    {{ form_label(registrationForm.birthDate.year, "", {'label_attr': {'class': 'form-element'}}) }}
                    {{ form_widget(registrationForm.birthDate.year, {'attr': {'class': 'form-control'}}) }}
                    <div class="alert alert-danger">
                        {{ form_errors(registrationForm.birthDate.year) }}
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-3" style="padding-right: 15px; padding-left: 15px;">
                <div class="form-group">
                    {{ form_label(registrationForm.birthDate.month, "", {'label_attr': {'class': 'form-element'}}) }}
                    {{ form_widget(registrationForm.birthDate.month, {'attr': {'class': 'form-control'}}) }}
                    <div class="alert alert-danger">
                        {{ form_errors(registrationForm.birthDate.month) }}
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-3" style="padding-right: 15px; padding-left: 15px;">
                <div class="form-group">
                    {{ form_label(registrationForm.birthDate.day, "", {'label_attr': {'class': 'form-element'}}) }}
                    {{ form_widget(registrationForm.birthDate.day, {'attr': {'class': 'form-control'}}) }}
                    <div class="alert alert-danger">
                        {{ form_errors(registrationForm.birthDate.day) }}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12 mb-3" style="padding-right: 15px; padding-left: 15px;">
                <div class="form-group">
                    {{ form_label(registrationForm.profilePic, "Profile Picture :", {'label_attr': {'class': 'form-element'}}) }}
                    <div class="input-group">
                        {{ form_widget(registrationForm.profilePic, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="chooseImageButton">Choose Image</button>
                        </div>
                    </div>

                    <div class="alert alert-danger">
                        {{ form_errors(registrationForm.profilePic) }}
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-3" style="padding-right: 15px; padding-left: 15px;">
                <div class="form-group">
                    {{ form_label(registrationForm.phoneNb, "Phone Number :", {'label_attr': {'class': 'form-element'}}) }}
                    {{ form_widget(registrationForm.phoneNb, {'attr': {'class': 'form-control', 'placeholder': 'Enter your phone number'}}) }}
                    <div class="alert alert-danger">
                        {{ form_errors(registrationForm.phoneNb) }}
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-3" style="padding-right: 15px; padding-left: 15px;">
                <div class="form-group">
                    {{ form_label(registrationForm.gender, "Gender :", {'label_attr': {'class': 'form-element'}}) }}
                    {{ form_widget(registrationForm.gender, {'attr': {'class': 'form-control'}}) }}
                    <div class="alert alert-danger">
                        {{ form_errors(registrationForm.gender) }}
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-12 mb-3" style="padding-right: 15px; padding-left: 15px;">
                <div class="form-group">
                    {{ form_label(registrationForm.email, "Email Address :", {'label_attr': {'class': 'form-element'}}) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter your e-mail address'}}) }}
                    <div class="alert alert-danger">
                        {{ form_errors(registrationForm.email) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-3" style="padding-right: 15px; padding-left: 15px;">
                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword, "Password :", {'label_attr': {'class': 'form-element'}}) }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Enter your password'}}) }}
                    <div class="alert alert-danger">
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mb-3" style="padding-right: 15px; padding-left: 15px;">
            <div class="col-md-12 mb-3">
                <button type="submit" class="btn btn-success">Sign Up</button>
            </div>
        </div>
        {{ form_end(registrationForm) }}
    </div>

    <script>
        document.getElementById('chooseImageButton').addEventListener('click', function () {
            var input = document.createElement('input');
            input.type = 'file';
            input.accept = 'image/*';
            input.onchange = function (e) {
                var file = e.target.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function () {
                        document.getElementById('user_profilePic').value = reader.result;
                    };
                    reader.readAsDataURL(file);
                }
            };
            input.click();
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#birthDate').datepicker({
                // Existing configurations...
                minDate: new Date(1900, 0, 1), // Set minimum date to 1900-01-01
                maxDate: new Date() // Set maximum date to current year
            });
        });
    </script>
{% endblock %}
