{% extends 'base.html.twig' %}

{% block title %}Sign Up
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	{{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
	<div class="container" style="max-width: 860px; margin: 0 auto; padding: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
		<div class="row mb-3">
			<h1 class="h3 mb-3 font-weight-normal">Create an account</h1>
		</div>
		{{ form_label(registrationForm.fname, "First Name", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(registrationForm.fname, {'attr': {'class': 'form-control', 'placeholder': 'Enter your first name'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(registrationForm.fname) }}
		</div>

		{{ form_label(registrationForm.lname, "Last Name", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(registrationForm.lname, {'attr': {'class': 'form-control', 'placeholder': 'Enter your last name'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(registrationForm.lname) }}
		</div>
		<div class="row">
			{{ form_label(registrationForm.birthDate, "Date of Birth", {'label_attr': {'class': 'form-element'}}) }}
		</div>
		<div class="row">
			{{ form_label(registrationForm.birthDate.year, "", {'label_attr': {'class': 'form-element'}}) }}
			{{ form_widget(registrationForm.birthDate.year, {'attr': {'class': 'form-control'}}) }}
			<div class="aler alert-danger" style="background-color: inherit;">
				{{ form_errors(registrationForm.birthDate.year) }}
			</div>

			{{ form_label(registrationForm.birthDate.month, "", {'label_attr': {'class': 'form-element'}}) }}
			{{ form_widget(registrationForm.birthDate.month, {'attr': {'class': 'form-control'}}) }}
			<div class="aler alert-danger" style="background-color: inherit;">
				{{ form_errors(registrationForm.birthDate.month) }}
			</div>

			{{ form_label(registrationForm.birthDate.day, "", {'label_attr': {'class': 'form-element'}}) }}
			{{ form_widget(registrationForm.birthDate.day, {'attr': {'class': 'form-control'}}) }}
			<div class="aler alert-danger" style="background-color: inherit;">
				{{ form_errors(registrationForm.birthDate.day) }}
			</div>
		</div>


		<div class="col-md-3 mb-3" style="padding: 10px;">
			<div class="form-group">
				{{ form_label(registrationForm.profilePic, "Profile Picture") }}
				<div class="input-group">
					{{ form_widget(registrationForm.profilePic, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
				</div>
				<div class="alert alert-danger" style="background-color: inherit;">
					{{ form_errors(registrationForm.profilePic) }}
				</div>
			</div>
		</div>


		{{ form_label(registrationForm.phoneNb, "Phone Number", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(registrationForm.phoneNb, {'attr': {'class': 'form-control', 'placeholder': 'Enter your phone number'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(registrationForm.phoneNb) }}
		</div>

		{{ form_label(registrationForm.gender, "Gender", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(registrationForm.gender, {'attr': {'class': 'form-control'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(registrationForm.gender) }}
		</div>


		{{ form_label(registrationForm.email, "Email Address", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter your e-mail address'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(registrationForm.email) }}
		</div>


		{{ form_label(registrationForm.plainPassword, "Password", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Enter your password'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(registrationForm.plainPassword) }}
		</div>

		<div class="g-recaptcha" data-sitekey="6LdmMoUpAAAAANoFGgxxf4rPYeIIgWr3qIcYh_mT"></div>

		<div class="row mb-3" style="padding-right: 15px; padding-left: 15px; margin-top:30px;">
			<div class="col-md-12 mb-3">
				<button type="submit" class="btn btn-success">Sign Up</button>
			</div>
		</div>
	</div>
	{{ form_end(registrationForm) }}


	<script>
		$(document).ready(function () {
$('#birthDate').datepicker({ // Existing configurations...
minDate: new Date(1900, 0, 1), // Set minimum date to 1900-01-01
maxDate: new Date() // Set maximum date to current year
});
});
	</script>
{% endblock %}
