{% extends 'base.html.twig' %}

{% block title %}Validate Code
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	{{ form_start(form) }}

	<div class="container" style="max-width: 860px; margin: 0 auto; padding: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
		<h1 class="h3 mb-3 font-weight-normal">Validate your Code</h1>

		{# {{ form_row(form.email) }} #}
        {{ form_label(form.verificationCode, "Verification Code", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(form.verificationCode, {'attr': {'class': 'form-control', 'placeholder': 'Enter your verification code'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(form.verificationCode) }}
		</div>
		<small>
			We have sent you a unique verification code,
            provide it in order to proceed.
		</small>
		<button class="btn btn-primary" style="margin-top:10px;">Proceed to reset</button>
	</div>
	{{ form_end(form) }}

{% endblock %}

