{% extends 'base.html.twig' %}

{% block title %}Delivery index{% endblock %}

{% block body %}
    <h1>Delivery index</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>DeliveryId</th>
                    <th>EstimatedDate</th>
                    <th>DeliveryFees</th>
                    <th>Destination</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for delivery in deliveries %}
                    <tr>
                        <td>{{ delivery.deliveryId }}</td>
                        <td>{{ delivery.estimatedDate ? delivery.estimatedDate|date('Y-m-d') : '' }}</td>
                        <td>{{ delivery.deliveryFees }}</td>
                        <td>{{ delivery.destination }}</td>
                        <td>{{ delivery.state ? 'Yes' : 'No' }}</td>
                        <td>
                            <a href="{{ path('app_delivery_show', {'deliveryId': delivery.deliveryId}) }}" class="btn btn-sm btn-primary">Show</a>
                            <a href="{{ path('app_delivery_edit', {'deliveryId': delivery.deliveryId}) }}" class="btn btn-sm btn-secondary">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_delivery_new') }}" class="btn btn-primary">Create new</a>

{{include('delivery_notification.html.twig')}}

{% endblock %}
