{% extends 'Admin/base.html.twig' %}

{% block title %}User List
{% endblock %}

{% block body %}
	<h1>User List</h1>

	<table class="table" style="overflow-x: auto; max-width: 100%;">
		<thead>
			<tr>
				<th></th>
				<th>Surname</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Gender</th>
				<th>Phone Number</th>
				<th>Date of Birth</th>
                <th>Role</th>
				<th>Biography</th>
                <th>Profileviews</th>
				<th>Status</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					{% set defaultImagePath = 'assets/images/profilepics/default.jpg' %}
					{% set ImagePath = 'assets/images/profilepics/' ~ user.profilePic %}

					{% if user.profilePic is not null %}
						<td><img src="{{ asset(ImagePath) }}" alt="{{ user.profilePic }}" class="image"/></td>
					{% else %}
						<td><img src="{{ asset(defaultImagePath) }}" alt="Default Image" class="image"/></td>
					{% endif %}
					<td>{{ user.fname }}</td>
					<td>{{ user.lname }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.gender ? 'Female' : 'Male' }}</td>
					<td>{{ user.phoneNb }}</td>
					<td>{{ user.birthDate ? user.birthDate|date('Y-m-d') : '' }}</td>
					<td>{{ user.role }}</td>
					<td>{{ user.biography }}</td>
					<td>{{ user.profileviews }}</td>
					{% if user.Deactivate is not same as ('PERM') %}
						<td>
							<a style="" href="{{ path('app_dashboard_ban', {'uid': user.uid}) }}" class="ban-button">Ban</a>
						</td>
                    {% else %}
                        <td>
							<a style="" href="{{ path('app_dashboard_unban', {'uid': user.uid}) }}" class="unban-button">Unban</a>
						</td>
					{% endif %}
					<td>
						<a href="{{ path('app_user_show', {'uid': user.uid}) }}">show</a>
						<a href="{{ path('app_user_edit', {'uid': user.uid}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="16">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_user_signup') }}">Create new</a>
{% endblock %}
