<!-- preloader
  ================================================== -->
<div id="preloader">
	<div id="loader"></div>
</div>

<!-- header
 ================================================== -->
<header class="s-header">

	<div class="row s-header__content">

		<div class="s-header__logo">
			<a class="logo" href="{{ path('app_home') }}">
				<img src="{{ asset('assets/images/logo.png') }}" alt="Homepage">
			</a>
		</div>

		<nav class="s-header__nav-wrap">

			<h2 class="s-header__nav-heading h6">Site Navigation</h2>

			<ul class="s-header__nav">
				<li {% if app.request.attributes.get('_route') == 'app_home' %} class="current" {% endif %}>
					<a href="{{ path('app_home') }}" title="">Home</a>
				</li>
				<li>
					<a href="styles.html" title="">Art Pieces</a>
				</li>
				<li>
					<a href="styles.html" title="">Galleries</a>
				</li>
				<li {% if app.request.attributes.get('_route') == 'app_user_index' %} class="current" {% endif %}>
					<a href="{{ path('app_user_index') }}" title="">Users</a>
				</li>
				<li>
					<a href="about.html" title="">Events</a>
				</li>
				<li>
					<a href="contact.html" title="">Auctions</a>
				</li>
				{% if not app.user %}
					<li>
						<a href="{{ path('app_register') }}" title="">Sign Up</a>
					</li>
					<li>
						<a href="{{ path('app_login') }}" title="">Log In</a>
					</li>
				{% endif %}
			</ul>
			<!-- end header__nav -->

			<a href="#0" title="Close Menu" class="s-header__overlay-close close-mobile-menu">Close</a>

		</nav>
		<!-- end header__nav-wrap -->

		<a class="s-header__toggle-menu" href="#0" title="Menu">
			<span>Menu</span>
		</a>

		<div class="s-header__search">

			<form role="search" method="get" class="s-header__search-form" action="#">
				<label>
					<span class="hide-content">Search for:</span>
					<input type="search" class="s-header__search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
				</label>
				<input type="submit" class="s-header__search-submit" value="Search">
			</form>

			<a href="#0" title="Close Search" class="s-header__overlay-close">Close</a>

		</div>
		<!-- end search wrap -->

		<a class="s-header__search-trigger" href="#">
			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
				<path d="M10 18a7.952 7.952 0 004.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0018 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path>
			</svg>
		</a>

		{% if app.user %}
			{# <a href="{{ path('app_profile', {'uid': user.uid}) }}" class="" id="navbarDropdown" role="button" data-toggle="" aria-haspopup="" aria-expanded="false" style="margin-left: 10px;">
																<svg xmlns="http://www.w3.org/2000/svg" width="21.5" height="21.5" fill="black" class="bi bi-person-circle" viewbox="0 0 16 16">
																	<path fill="black" d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
																	<path fill="black" fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
																</svg>
															</a> #}

					{# <img src="images/user.png" class="user-pic"> #}

					<img src="{{ asset('assets/images/person-circle.svg')}}" class="user-pic" onclick="toggleMenu()">

					<div class="sub-menu-wrap" id="subMenu">
						<div class="sub-menu">
							<div class="user-info">
								{% set defaultImagePath = 'assets/images/profilepics/default.jpg' %}
								{% set ImagePath = 'assets/images/profilepics/' ~ app.user.profilePic %}

								{% if app.user.profilePic is not null %}
									<img src="{{ asset(ImagePath) }}" alt="{{ app.user.profilePic }}"/>
								{% else %}
									<img src="{{ asset(defaultImagePath) }}" alt="Default Image"/>
								{% endif %}
								<h3>{{ (app.user.fname ~ ' ' ~ app.user.lname)|title }}</h3>
							</div>
							<hr>
							<a href="{{ path('app_profile', {'uid': user.uid}) }}" class="sub-menu-link">
								<img src="{{ asset('assets/images/person-fill.svg') }}">
								<p>Profile</p>
								<span>></span>
							</a>
							<a href="{{ path('app_logout')}}" class="sub-menu-link">
								<img src="{{ asset('assets/images/box-arrow-left.svg') }}">
								<p>Logout</p>
								<span>></span>
							</a>
						</div>
					</div>
		{% endif %}

		<script>
		let subMenu = document.getElementById("subMenu");

		function toggleMenu(){
		subMenu.classList.toggle("open-menu");

		}

		</script>


	</div>
	<!-- end s-header__content -->

	<!-- Include Bootstrap JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>


</header>
<!-- end header -->
