{% extends 'admin/base-back.html.twig' %}

{% block title %}Gallery index{% endblock %}

{% block body %}
    <h1>Gallery index</h1>

<<<<<<< HEAD

    <div style="width: 50%; margin: auto;">
        <canvas id="locationPieChart"></canvas>
    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var locationData = {{ locationData|json_encode|raw }};
        var labels = [];
        var data = [];

        // Extract location names and counts
        locationData.forEach(function(location) {
            labels.push(location.name);
            data.push(location.count);
        });

        var ctx = document.getElementById('locationPieChart').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Location Counts',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
               
            }
        });
    </script>

=======
>>>>>>> 4e44c719261ffd25376c4d8342c073fb53b499c8
    <table class="table">
        <thead>
            <tr>
                <th>GalleryId</th>
                <th>GalleryName</th>
                <th>GalleryDescription</th>
                <th>GalleryLocation</th>
                <th>GalleryTel</th>
                <th>OperatingHours</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery.galleryId }}</td>
                <td>{{ gallery.galleryName }}</td>
                <td>{{ gallery.galleryDescription }}</td>
                <td>{{ gallery.galleryLocation }}</td>
                <td>{{ gallery.galleryTel }}</td>
                <td>{{ gallery.operatingHours }}</td>
                <td>
                    {{ include('gallery/_delete_form.html.twig') }}
                    <a href="{{ path('app_gallery_edit', {'galleryId': gallery.galleryId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
        <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gallery_new') }}">Create new</a>
{% endblock %}