<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="180x180" href="{{ asset("assets/images/icon.png") }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset("assets/images/icon.png") }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("assets/images/icon.png") }}">
        {% block stylesheets %}
            <!-- CSS
    ================================================== -->
            <link rel="stylesheet" href="{{ asset("assets/css/styles.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/vendor.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/artcard.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/other.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/page.css") }}">
            <!-- script
            ================================================== -->
            <script src="{{ asset("assets/js/modernizr.js") }}"></script>
        {% endblock %}
    </head>
    <body id="top">

    {{ include('includes/header.html.twig') }}
    <section class="s-bricks">
       {% block body %}
       {% endblock %}
    </section>
    {{ include('includes/footer.html.twig') }}

    {% block javascripts %}
        <!-- Java Script
 ================================================== -->
        <script src="{{ asset("assets/js/jquery-3.2.1.min.js") }}"></script>
        <script src="{{ asset("assets/js/plugins.js") }}"></script>
        <script src="{{ asset("assets/js/main.js") }}"></script>
        <script src="{{ asset("assets/js/filegetter.js") }}"></script>        
        <script src="{{ asset('assets/js/qrcodejs-master/qrcode.min.js') }}"></script>
        <script src="{{ asset('assets/js/qrCodeGenerator.js') }}"></script>

    {% endblock %}
    </body>
</html>
