{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>OrderId</th>
                <td>{{ order.orderId }}</td>
            </tr>
            <tr>
                <th>OrderDate</th>
                <td>{{ order.orderDate ? order.orderDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Totalprice</th>
                <td>{{ order.totalprice }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ order.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_order_index') }}">back to list</a>

    <a href="{{ path('app_order_edit', {'orderId': order.orderId}) }}">edit</a>

    {{ include('order/_delete_form.html.twig') }}
{% endblock %}
