{% extends 'base.html.twig' %}

{% block title %}Update Information{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	<div class="container" style="max-width: 860px; margin: 0 auto; padding: 20px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
		<div class="row mb-3">
			<h1 class="h3 mb-3 font-weight-normal">Create an account</h1>
		</div>
		{{ form_label(form.fname, "First Name", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(form.fname, {'attr': {'class': 'form-control', 'placeholder': 'Enter your first name'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(form.fname) }}
		</div>

		{{ form_label(form.lname, "Last Name", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(form.lname, {'attr': {'class': 'form-control', 'placeholder': 'Enter your last name'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(form.lname) }}
		</div>
		<div class="row">
			{{ form_label(form.birthDate, "Date of Birth", {'label_attr': {'class': 'form-element'}}) }}
		</div>
		<div class="row">
			{{ form_label(form.birthDate.year, "", {'label_attr': {'class': 'form-element'}}) }}
			{{ form_widget(form.birthDate.year, {'attr': {'class': 'form-control'}}) }}
			<div class="aler alert-danger" style="background-color: inherit;">
				{{ form_errors(form.birthDate.year) }}
			</div>

			{{ form_label(form.birthDate.month, "", {'label_attr': {'class': 'form-element'}}) }}
			{{ form_widget(form.birthDate.month, {'attr': {'class': 'form-control'}}) }}
			<div class="aler alert-danger" style="background-color: inherit;">
				{{ form_errors(form.birthDate.month) }}
			</div>

			{{ form_label(form.birthDate.day, "", {'label_attr': {'class': 'form-element'}}) }}
			{{ form_widget(form.birthDate.day, {'attr': {'class': 'form-control'}}) }}
			<div class="aler alert-danger" style="background-color: inherit;">
				{{ form_errors(form.birthDate.day) }}
			</div>
		</div>


		<div class="col-md-3 mb-3" style="padding: 10px;">
			<div class="form-group">
				{{ form_label(form.profilePic, "Profile Picture") }}
				<div class="input-group">
					{{ form_widget(form.profilePic, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
				</div>
				<div class="alert alert-danger" style="background-color: inherit; color: inherit; border-color: #f5f5f5;">
					{{ form_errors(form.profilePic) }}
				</div>
			</div>
		</div>


		{{ form_label(form.phoneNb, "Phone Number", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(form.phoneNb, {'attr': {'class': 'form-control', 'placeholder': 'Enter your phone number'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(form.phoneNb) }}
		</div>

		{{ form_label(form.gender, "Gender", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(form.gender) }}
		</div>


		{{ form_label(form.email, "Email Address", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter your e-mail address'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(form.email) }}
		</div>


		{{ form_label(form.plainPassword, "Password", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(form.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Enter a new password'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(form.plainPassword) }}
		</div>

        {{ form_label(form.biography, "Biography", {'label_attr': {'class': 'form-element'}}) }}
		{{ form_widget(form.biography, {'attr': {'class': 'form-control', 'placeholder': 'Enter your biography'}}) }}
		<div class="aler alert-danger" style="background-color: inherit;">
			{{ form_errors(form.plainPassword) }}
		</div>

		<div class="col-md-3 mb-3" style="padding: 10px;">
			<div class="form-group">
				{{ form_label(form.portfolio, "Portfolio") }}
				<div class="input-group">
					{{ form_widget(form.portfolio, {'attr': {'class': 'form-control', 'readonly': 'readonly'}}) }}
				</div>
				<div class="alert alert-danger" style="background-color: inherit; color: inherit; border-color: #f5f5f5;">
					{{ form_errors(form.portfolio) }}
				</div>
			</div>
		</div>

		<div class="row mb-3" style="padding-right: 15px; padding-left: 15px; margin-top:30px;">
			<div class="col-md-12 mb-3">
				<button type="submit" class="btn btn-success">Update</button>
			</div>
		</div>
	</div>
	{{ form_end(form) }}


	<script>
		$(document).ready(function () {
$('#birthDate').datepicker({ // Existing configurations...
minDate: new Date(1900, 0, 1), // Set minimum date to 1900-01-01
maxDate: new Date() // Set maximum date to current year
});
});
	</script>
{% endblock %}
