{% extends 'base.html.twig' %}

{% block title %}
	{{ user.fname ~ ' ' ~ user.lname }}
{% endblock %}

{% block body %}

	<a href="{{ path('app_user_index') }}" class="btn btn-primary">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
		</svg>
	</a>

	<div class="container-new">
		<div class="row-new">
			<div class="col-300">
				<div class="profile-card">
					<div class="profile-header">
						{% set defaultImagePath = 'assets/images/profilepics/default.jpg' %}
						{% set ImagePath = 'assets/images/profilepics/' ~ user.profilePic %}
						{% set PortfolioPath = 'assets/portfolios/' ~ user.portfolio %}

						{% if user.profilePic is not null %}
							<img class="profile-avatar" src="{{ asset(ImagePath) }}" alt="{{ user.profilePic }}"/>
						{% else %}
							<img class="profile-avatar" src="{{ asset(defaultImagePath) }}" alt="Default Image"/>
						{% endif %}
						<h1 class="profile-fullname">
							{{ user.fname ~ ' ' ~ user.lname }}
							<a href="{{ path('app_generate_pdf', {'uid': user.uid}) }}">
								<img src="{{ asset('assets/images/file-earmark-pdf-fill.svg') }}" alt="PDF Icon" width="15" height="15">
							</a>
						</h1>
						<p class="profile-occupation">{{ user.role }}</p>
						<p class="profile-location">{{ 'Born on ' ~ user.birthDate|date('F j, Y') }}</p>
						{% if app.user %}
							{% if not isFollowing %}
								<a href="{{ path('app_follow', {'uid': user.uid}) }}" class="follow-button">Follow</a>
							{% else %}
								<a href="{{ path('app_unfollow', {'uid': user.uid}) }}" class="follow-button-secondary">Unfollow</a>
							{% endif %}
						{% else %}
							<a href="{{ path('app_login') }}" class="follow-button">Follow</a>
						{% endif %}
					</div>

					<div class="profile-stats">
						<p class="profile-subtitles">ME</p>
						<p class="stat">Profile Views :
							{{ user.getProfileViews }}</p>
						<p class="stat">Appreciations: 93,570</p>
						<p class="stat">Followers:
							{{ followersCount }}</p>
						<p class="stat">Following:
							{{ followingCount }}</p>
					</div>
					<div class="profile-details">
						<p class="profile-subtitles">CONTACT</p>
						<p class="profile-email" style="margin-bottom:0">
							<a class="profile-email" href="https://mail.google.com/mail/?view=cm&fs=1&to={{ user.email }}" title="{{ user.email }}" target="_blank">{{ user.email }}</a>
						</p>
						<p class="profile-email">Number:
							{{ user.phoneNb }}</p>
						{% if user.role == 'Artist' %}
							<p class="profile-subtitles">ARTIST DETAILS</p>
							<p class="profile-bio">{{ user.biography }}</p>
							<a href="{{ asset(PortfolioPath) }}" target="_blank" class="profile-website">Portfolio here.</a>
						{% endif %}
					</p>
				</div>
			</div>
		</div>
		<div class="col-800">
			<div class="profile-sidecontainer">
				<div class="row-new" style="margin-left: 0 !important; margin-right: 0 !important; margin-bottom: 20px; margin-top: 10px; width: 100%">
					<div class="col-12">
						<ul class="nav nav-pills nav-fill d-flex justify-content-between p-0" style="margin-left: 0px;">
							<li class="nav-item flex-fill">
								<a class="nav-link active" aria-current="page" onclick="displayContent('art')">Art Pieces</a>
							</li>
							<li class="nav-item flex-fill">
								<a class="nav-link" onclick="displayContent('auctions')">Auctions</a>
							</li>
							<li class="nav-item flex-fill">
								<a class="nav-link" onclick="displayContent('events')">Events</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row-new" style="margin-left: 0 !important; margin-right: 0 !important; width: 100%">
					<div class="col-12">
						<div id="content"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<script>
	// Simulate a click on the first nav-link when the page loads
document.addEventListener("DOMContentLoaded", function () {
const firstNavLink = document.querySelector('.nav-link');
if (firstNavLink) {
firstNavLink.click();
}
});

function displayContent(contentType) {
console.log("Displaying content for: ", contentType);
// Log to check if function is called

// Remove 'active' class from all nav-links
const navLinks = document.querySelectorAll('.nav-link');
navLinks.forEach(link => link.classList.remove('active'));

// Add 'active' class to the clicked nav-link
event.target.classList.add('active');

// Display content based on the clicked nav-item
const contentDiv = document.getElementById('content');
switch (contentType) {
case 'art': contentDiv.innerHTML = `
			<div class="article-card" style="margin-bottom: 20px; margin-left: 5px; margin-right: 10px;  height: 300px; width:240px;">
				<div class="content" style="padding-top: 20px; height: 75%">
					<div class="row justify-content-center">
						<div class="col-md-8">
							<a href="#" class="">
								<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
									<path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		`;

break;
case 'auctions': contentDiv.innerHTML = `
			<div class="article-card" style="margin-bottom: 20px; margin-left: 5px; margin-right: 10px;  height: 300px; width:240px;">
				<div class="content" style="padding-top: 20px; height: 75%">
					<div class="row justify-content-center">
						<div class="col-md-8">
							<a href="#" class="">
								<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
									<path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		`;
break;
case 'events': contentDiv.innerHTML = `
			<div class="article-card" style="margin-bottom: 20px; margin-left: 5px; margin-right: 10px;  height: 300px; width:240px;">
				<div class="content" style="padding-top: 20px; height: 75%">
					<div class="row justify-content-center">
						<div class="col-md-8">
							<a href="#" class="">
								<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
									<path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		`;
break;
default:
break;
}
}
</script>{% endblock %}
